body > header {
    background-color: dodgerblue;
    color: white;

}

nav > ul> li > a {
    color: white;
}
body > footer > p {
    padding: 16px;
    color: white;
    text-align: center;
}

nav > ul {
    list-style: none;

}

body > footer {
    background-color: dodgerblue;
}

body {
    margin: 0;
}

body > main > article {
    width: 70%;
    margin: auto;
}